bastion_ssh_config:
  name: bastion     # optional default is "Bastion"
  host: localhost
  port: 2222        # optional default is 22
  user: mogura
  key_path: ./local-env/test_id_ed25519  # optional default is "~/.ssh/id_rsa"
  # if your use SRV record, then need set remote resolver to 'remote_dns'.
  # AWS VPC network 10.0.0.0/16 then DNS server is 10.0.0.2
#  remote_dns: 10.0.0.2:53
tunnels:
  - name: nginx
    local_bind_port: 8080
    target: web-server
    target_port: 80
## below example for SRV record
#  - name: ecs_service
#    local_bind_port: 8081
#    target_type: SRV
#    target: _grpclb._tcp.your.domain
#    forwarding_timeout: 10s


